<html lang="ja">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>タイトル</title>
    <link href='https://fonts.googleapis.com/css?family=Lato' rel='stylesheet' type='text/css'>
    <link href='/stylesheets/issei/home.css' rel='stylesheet' type='text/css'>
    <link href='/stylesheets/issei/profile.css' rel='stylesheet' type='text/css'>
</head>
<header id="global-head">
    <h1 id="brand-logo">Logo</h1>
</header>
<aside id="sidebar">
    <nav id="global-nav">
        <ul>
            <li><a href="./home.html" class="nav-tach">Home</a></li>
            <li><a href="./item-list.html" class="nav-tach">商品一覧</a></li>
            <li><a href="./cart.html" class="nav-tach">購入一覧</a></li>
            <li><a href="./items_history_list.html" class="nav-tach">購入履歴</a></li>
            <li><a href="./institution_list.html" class="nav-tach">購入依頼</a></li>
            <li><a href="./contact.html" class="nav-tach">（仮）問い合わせ</a></li>
            <li><a href="./profile.html" class="nav-tach">アカウント情報</a></li>
            <li><a href="../accounts/withdrawal_accounts.html" class="nav-warning-tach">退会</a></li>
        </ul>
    </nav>
</aside>

<main id="main">
    <div id="main-in">
        <div class="box-c">
            <div class="white-space">
                <!-- <h2 class="heading-lv1 text-center">Profile</h2> -->
                <figure class="profile-image">
                    <div class="flex">
                        <img src="../../img/sample.jpg" alt="" width="400px" height="400px">
                        <div class="description-div">
                            <h1>ユーザ名</h1>
                            <div>
                                <p><b>項目名</b><br>pテキストpテキストpテキストpテキストpテキストpテキストpテキストpテキストpテキストpテキスト</p>
                                <p><b>項目名</b><br>pテキストpテキストpテキストpテキストpテキストpテキストpテキストpテキストpテキストpテキスト</p>
                            </div>
                            <!-- <p class="text">pテキスト</p> -->
                            <!-- 何もなければSNSボタンを配置 -->
                            
                        </div>
                    </div>
                </figure>
            </div>
            <!-- </section> -->
        </div>
        <footer class="footer">
            <p>FOOTER KAKU</p>
            <p>〒000-0000 <br class="sp_block">石川県金沢市武蔵町16-10<br>TEL (076)260-6112　 FAX (076)256-0620<br>営業時間 /
                10:00～19:30</p>
            <p class="copyright sp_none">COPYRIGHT © TOKYOZOUHOU CO.</p>
        </footer>
    </div><!-- /#main-in -->
</main>
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.12.3/jquery.min.js"></script>
<script type="text/javascript">
    (function ($) {
        $(function () {
            $('.sub-menu').on({
                'mouseenter': function () {
                    $(this).addClass('is-active');
                },
                'mouseleave': function () {
                    $(this).removeClass('is-active');
                }
            });
        });
    })(jQuery);
</script>

</html>