<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>

    <link rel='stylesheet' href='/stylesheets/style.css' />

    <script src="https://code.jquery.com/jquery-3.0.0.min.js"></script>
  </head>

  <body>
    <a href="/user/login">log in</a><br>
    <a href="/user/add">sign up</a><br>
    <a href="/hunter/map">map</a><br>
  </body>
</html>
