<header id="global-head">
    <h1 id="brand-logo">Hunter’s Summit</h1>
</header>
<aside id="sidebar">
    <nav id="global-nav">
        <ul>
            <li><a href="/purchaser" class="nav-tach">Home</a></li>
            <li><a href="/purchaser/items_list" class="nav-tach">商品一覧</a></li>
            <li><a href="/purchaser/cart_list" class="nav-tach">カート一覧</a></li>
            <li><a href="/purchaser/items_history_list" class="nav-tach">購入履歴</a></li>
            <li><a href="/purchaser/search_facilities" class="nav-tach">処理施設検索</a></li>
            <li><a href="/purchaser/public_request_to_facility" class="nav-tach">購入依頼</a></li>
            <!-- <li><a href="./contact.html" class="nav-tach">（仮）問い合わせ</a></li> -->
            <li><a href="/user/edit" class="nav-tach">アカウント情報</a></li>
            <li><a href="/user/logout" class="nav-tach">ログアウト</a></li>
            <li><a href="../accounts/withdrawal_accounts.html" class="nav-warning-tach red">退会</a></li>
        </ul>
    </nav>
</aside>