<header id="global-head">
    <h1 id="brand-logo">Hunter’s Summit</h1>
</header>
<aside id="sidebar">
    <nav id="global-nav">
        <ul>
            <li><a href="/hunter" class="nav-tach">Home</a></li>
            <!-- <li><a href="./accepting_orders_list.html" class="nav-tach">受注一覧</a></li> -->
            <li class="sub-menu">
                <a href="#">依頼受注</a>
                <ul class="sub-menu-nav">
                    <li><a href="/hunter/show_requests_from_facility">依頼一覧</a></li>
                    <li><a href="/hunter/search_requests_from_facility">公開依頼検索</a></li>
                </ul>
            </li>
            <li class="sub-menu">
                <a href="#">害獣位置情報</a>
                <ul class="sub-menu-nav">
                    <li><a href="/hunter/register_vermin_info">登録</a></li>
                    <li><a href="/hunter/search_vermin_infos">検索</a></li>
                    <li><a href="/hunter/show_registered_vermin_infos">登録害獣位置一覧</a></li>
                </ul>
            </li>
            <li><a href="/hunter/search_facilities" class="nav-tach">処理施設検索</a></li>
            <!-- <li><a href="./contact.html" class="nav-tach">問い合わせ</a></li> -->
            <li><a href="/user/edit" class="nav-tach">アカウント情報</a></li>
            <li><a href="/user/logout" class="nav-tach">ログアウト</a></li>
            <li><a href="../accounts/withdrawal_accounts.html" class="nav-warning-tach red">退会</a></li>
        </ul>
    </nav>
</aside>