<!DOCTYPE html>
<html lang="ja">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>タイトル</title>
    <link href='https://fonts.googleapis.com/css?family=Lato' rel='stylesheet' type='text/css'>
    <link href='../../css/login.css' rel='stylesheet' type='text/css'>
</head>

<body>

    <fieldset>
        <h1>Login</h1>
        <form>
            <div class="iconMail"></div>
            <input type="text" placeholder="Mail" required>
            <div class="iconPassword"></div>
            <input type="password" placeholder="Password" required>
            <a href="./users_input.html">新規登録はまだ？</a>
            <input type="submit" value="Enter">
        </form>
    </fieldset>
</body>

</html>