<!DOCTYPE html>
<html lang="ja">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>タイトル</title>
    <link href='https://fonts.googleapis.com/css?family=Lato' rel='stylesheet' type='text/css'>
    <link href='../../css/logout_accounts.css' rel='stylesheet' type='text/css'>
</head>

<body>
    <div class="center_login">
        <fieldset>
            <form>
                <h1 class="login_h1">本当に退会しますか？</h1>
                <input type="submit" class="login_out_btn" value="戻る">
                <input type="submit" class="login_out_btn_red" value="退会する">
            </form>
        </fieldset>
    </div>
</body>

</html>