input[type="datetime-local"] {
    position: relative;
    padding: 0 10px;
    width: 200px;
    height: 36px;
    border: 0;
    background: transparent;
    box-sizing: border-box;
    font-size: 14px;
    color: #999;
}

#datetime-label {
    position: relative;
    display: inline-block;
    width: 200px;
    height: 36px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

input[type="datetime-local"]::-webkit-inner-spin-button{
    -webkit-appearance: none;
}

input[type="datetime-local"]::-webkit-clear-button{
    -webkit-appearance: none;
}

