<!-- 右下ボタンを「＋」もしくわ「登録」にする -->
<!DOCTYPE html>
<html lang="ja">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>タイトル</title>
    <link href='https://fonts.googleapis.com/css?family=Lato' rel='stylesheet' type='text/css'>
    <link href='/stylesheets/issei/test.css' rel='stylesheet' type='text/css'>
    <link href='/stylesheets/issei/form-sample.css' rel='stylesheet' type='text/css'>
</head>

<body>
    <header id="global-head">
        <h1 id="brand-logo">Logo</h1>
    </header>
    <aside id="sidebar">
        <nav id="global-nav">
            <ul>
                <li><a href="./home.html" class="nav-tach">Home</a></li>
                <li><a href="./item-list.html" class="nav-tach">商品一覧</a></li>
                <li><a href="./cart.html" class="nav-tach">購入一覧</a></li>
                <li><a href="./items_history_list.html" class="nav-tach">購入履歴</a></li>
                <li><a href="./institution_list.html" class="nav-tach">購入依頼</a></li>
                <li><a href="./contact.html" class="nav-tach">（仮）問い合わせ</a></li>
                <li><a href="./profile.html" class="nav-tach">アカウント情報</a></li>
                <li><a href="../accounts/withdrawal_accounts.html" class="nav-warning-tach">退会</a></li>
            </ul>
        </nav>
    </aside>

    <main id="main">
        <div id="main-in">
            <div class="box">
                <a href="#" class="btn-circle-border-simple">登録</a>
                <h2>処理施設一覧</h2>
                <ul class="msr_newslist04">
                    <li>
                        <a href="./institution_detail.html">
                            <div>
                                <time datetime="2016-1-1">2016.01.01</time>
                                <p class="cat01">公開</p>
                            </div>
                            <label>処理施設名</label>
                            <p> テキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキスト </p>
                        </a>
                    </li>
                    <li>
                        <a href=" #">
                            <div>
                                <time datetime="2016-1-1">2016.01.01</time>
                                <p class="cat02">非公開</p>
                            </div>
                            <label>処理施設名</label>
                            <p> テキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキスト </p>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <div>
                                <time datetime="2016-1-1">2016.01.01</time>
                                <p class="cat01">公開</p>
                            </div>
                            <label>処理施設名</label>
                            <p> テキストテキスト </p>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <div>
                                <time datetime="2016-1-1">2016.01.01</time>
                                <p class="cat02">非公開</p>
                            </div>
                            <label>処理施設名</label>
                            <p> テキストテキスト </p>
                        </a>
                    </li>
                </ul>
            </div>
            <footer class="footer">
                <p>FOOTER KAKU</p>
                <p>〒000-0000 <br class="sp_block">石川県金沢市武蔵町16-10<br>TEL (076)260-6112　 FAX (076)256-0620<br>営業時間 /
                    10:00～19:30</p>
                <p class="copyright sp_none">COPYRIGHT © TOKYOZOUHOU CO.</p>
            </footer>

        </div>
    </main>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.12.3/jquery.min.js"></script>
    <script type="text/javascript" src="/js/test-sd.js"></script>

</body>

</html>