<!-- 商品詳細 -->
<!-- 
ファイル名 items_detail.ejs
作成者 内藤壱成
概要 商品の詳細情報を確認できる詳細画面
製作日 2023-1-12
変更日 2023-1-19
残り 
-->
<!DOCTYPE html>
<html lang="ja">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>タイトル</title>
    <link href='https://fonts.googleapis.com/css?family=Lato' rel='stylesheet' type='text/css'>
    <link href='/stylesheets/issei/item-list.css' rel='stylesheet' type='text/css'>
</head>

<body>
    <header id="global-head">
        <h1 id="brand-logo">Logo</h1>
    </header>
    <aside id="sidebar">
        <nav id="global-nav">
            <ul>
                <li><a href="./home.html" class="nav-tach">Home</a></li>
                <li><a href="./item-list.html" class="nav-tach">商品一覧</a></li>
                <li><a href="./cart.html" class="nav-tach">購入一覧</a></li>
                <li><a href="./items_history_list.html" class="nav-tach">購入履歴</a></li>
                <li><a href="./institution_list.html" class="nav-tach">購入依頼</a></li>
                <li><a href="./contact.html" class="nav-tach">（仮）問い合わせ</a></li>
                <li><a href="./profile.html" class="nav-tach">アカウント情報</a></li>
                <li><a href="../accounts/withdrawal_accounts.html" class="nav-warning-tach">退会</a></li>
            </ul>
        </nav>
    </aside>

    <main id="main">
        <div id="main-in">
            <div class="item-detail-box ">
                <!-- box1 -->
                <!-- <div class="box"> -->
                <div>
                    <section>
                        <h2 class="sub-title">item-name</h2>
                        <div class="flex">
                            <div style=" padding: 0;margin: 0;">
                                <img src="#" onError="this.onerror=null;this.src='../../img/image-not-found.png';" style="width: 500px;height:auto;" />
                                <div style=" padding: 0px;margin: 0px;">
                                    <img src="#" onError="this.onerror=null;this.src='../../img/image-not-found.png';"
                                        style="width: 120px;height:auto;" />
                                    <img src="#" onError="this.onerror=null;this.src='../../img/image-not-found.png';"
                                        style="width: 120px;height:auto;" />
                                    <img src="#" onError="this.onerror=null;this.src='../../img/image-not-found.png';"
                                        style="width: 120px;height:auto;" />
                                    <img src="#" onError="this.onerror=null;this.src='../../img/image-not-found.png';"
                                        style="width: 120px;height:auto;" />
                                    <img src="#" onError="this.onerror=null;this.src='../../img/image-not-found.png';"
                                        style="width: 120px;height:auto;" />
                                </div>
                            </div>
                            <div class="description-div">
                                <h3>価格：￥８９００</h3>
                                <section class="item-detail-p">
                                    <p>pテキストpテキストpテキストpテキストpテキストpテキストpテキストpテキストpテキストpテキストpテキストpテキストpテキストpテキストpテキストpテキストpテキストpテキストpテキストpテキスト
                                    </p>
                                </section>
                                <ul class="b-list">
                                    <li>ベネフィットリスト</li>
                                    <li>ベネフィットリスト</li>
                                    <li>ベネフィットリスト</li>
                                </ul>
                                <span class="cart-position"><a href="#" class="btn btn-tag">カートに入れる</a></span>
                            </div>
                        </div>
                    </section>
                    <div>
                        <div class="kakomi-box11" style="margin: 50px 50px 0px 0px;"><span
                                class="title-box11">商品の詳細</span>商品の詳細情報　商品の詳細情報　商品の詳細情報　商品の詳細情報　商品の詳細情報　商品の詳細情報　商品の詳細情報　商品の詳細情報　商品の詳細情報　商品の詳細情報　商品の詳細情報　商品の詳細情報　商品の詳細情報
                        </div>
                        <div class="kakomi-box11" style="margin: 50px 50px 0px 0px;"><span
                                class="title-box11">商品のレビュー</span>商品の詳細情報　商品の詳細情報　商品の詳細情報　商品の詳細情報　商品の詳細情報　商品の詳細情報　商品の詳細情報　商品の詳細情報　商品の詳細情報　商品の詳細情報　商品の詳細情報　商品の詳細情報　商品の詳細情報
                        </div>
                    </div><!-- /#main-in -->
                    <div>
                        <div class="kakomi-box11" style="margin: 50px 50px 0px 0px;"><span class="title-box11">関連商品</span>
                            <img src="#" onError="this.onerror=null;this.src='../../img/image-not-found.png';"
                                style="width: 120px;height:auto; padding: 0px 5px;" />
                            <img src="#" onError="this.onerror=null;this.src='../../img/image-not-found.png';"
                                style="width: 120px;height:auto; padding: 0px 5px;" />
                            <img src="#" onError="this.onerror=null;this.src='../../img/image-not-found.png';"
                                style="width: 120px;height:auto; padding: 0px 5px;" />
                            <img src="#" onError="this.onerror=null;this.src='../../img/image-not-found.png';"
                                style="width: 120px;height:auto; padding: 0px 5px;" />
                            <img src="#" onError="this.onerror=null;this.src='../../img/image-not-found.png';"
                                style="width: 120px;height:auto; padding: 0px 5px;" />
                        </div>
                    </div>
                </div>
            </div>
            <footer class="footer">
                <p>FOOTER KAKU</p>
                <p>〒000-0000 <br class="sp_block">石川県金沢市武蔵町s16-10<br>TEL (076)260-6112　 FAX (076)256-0620<br>営業時間 /
                    10:00～19:30</p>
                <p class="copyright sp_none">COPYRIGHT © TOKYOZOUHOU CO.</p>
            </footer>
        </div><!-- /#main-in -->
    </main>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.12.3/jquery.min.js"></script>
    <script type="text/javascript">
        (function ($) {
            $(function () {
                $('.sub-menu').on({
                    'mouseenter': function () {
                        $(this).addClass('is-active');
                    },
                    'mouseleave': function () {
                        $(this).removeClass('is-active');
                    }
                });
            });
        })(jQuery);
    </script>

</body>

</html>