<!DOCTYPE html>
<html>
    <head></head>
    <body>
        <form action="/purchaser/payment" method="post">
            <input type="hidden" name="id_list" value="<%= items %>">
            <label>お届け先住所：</label>
            <input type="text" name="address">
            <button type="submit">確定</button>
        </form>
    </body>
</html>