<!-- 狩猟者ホーム -->
<!DOCTYPE html>
<html lang="ja">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>タイトル</title>
    <link href='https://fonts.googleapis.com/css?family=Lato' rel='stylesheet' type='text/css'>
    <link href='/stylesheets/home.css' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css">
    <link rel="stylesheet" href="/stylesheets/screen_moves_side.css">
    <style>
        html, body{
    overflow: hidden;
}
    </style>
</head>

<body>
    <%- include("../sidebar_hunter.ejs") %>
    <main id="main">
        <div id="main-in">
            <div class="wrapper">
                <h1>welcome to HS</h1>
                <ul class="slider">
                    <li class="slider-item slider-item06"></li>
                    <li class="slider-item slider-item04"></li>
                    <li class="slider-item slider-item05"></li>
                </ul>
                <!--/wrapper-->
            </div>
            <!-- box1 -->
            <div class="box">
                <div class="inner">
                    <ul class="news-list">
                        <li class="item">
                            <a href="#">
                                <p class="date">2020/4/15</p>
                                <p class="category"><span>お知らせ</span></p>
                                <p class="title">ここにお知らせが入りますここにお知らせが入りますここにお知らせが入ります</p>
                            </a>
                        </li>
                        <li class="item">
                            <a href="#">
                                <p class="date">2020/4/15</p>
                                <p class="category"><span>お知らせ</span></p>
                                <p class="title">ここにお知らせが入りますここにお知らせが入りますここにお知らせが入ります</p>
                            </a>
                        </li>
                        <li class="item">
                            <a href="#">
                                <p class="date">2020/4/15</p>
                                <p class="category-2"><span>依頼</span></p>
                                <p class="title">ここにお知らせが入りますここにお知らせが入りますここにお知らせが入ります</p>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
            <footer class="footer">
                <p>FOOTER KAKU</p>
                <p>〒000-0000 <br class="sp_block">石川県金沢市武蔵町16-10<br>TEL (076)260-6112　 FAX (076)256-0620<br>営業時間 /
                    10:00～19:30</p>
                <p class="copyright sp_none">COPYRIGHT © TOKYOZOUHOU CO.</p>
            </footer>
        </div><!-- /#main-in -->
    </main>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.12.3/jquery.min.js"></script>
            <!-- 横移動画像 -->
            <script src="https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"></script>
            <script src="https://coco-factory.jp/ugokuweb/wp-content/themes/ugokuweb/data/6-1-1/js/6-1-1.js"></script>
    <script type="text/javascript">
        (function ($) {
            $(function () {
                $('.sub-menu').on({
                    'mouseenter': function () {
                        $(this).addClass('is-active');
                    },
                    'mouseleave': function () {
                        $(this).removeClass('is-active');
                    }
                });
            });
        })(jQuery);
    </script>

</body>

</html>