<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>

    <link rel='stylesheet' href='/stylesheets/style.css' />

    <script src="https://code.jquery.com/jquery-3.0.0.min.js"></script>
  </head>

  <body>
    <h1>処理施設検索</h1>
        <label for="search_word">検索ワード</label>
        <input type="text" id="search-word" name="word"><br>
        <label for="region">地域</label>
        <select name="region" id="region">
            <option value="0">選択なし</option>
            <% for(let i in regions) { %>
                <% let obj = regions[i] %>
                <option value="<%= obj.id %>" ><%= obj.region_name %></option>
            <% } %>
        </select><br>
        <input type="submit" value="検索" id="search-button">
    

    <div id="search-results">
    </div>
    <script src="/javascripts/hunter_search_facilities.js"></script>
  </body>
</html>
