<!-- 処理施設からの依頼一覧 -->
<!-- 
ファイル名 search_vermin_infos.ejs
作成者 内藤壱成
概要 処理施設ユーザから依頼を一覧で表示するの一覧画面
変更日 2023-02-02
フロントの残り
・「依頼あり」の場合のデザイン
・ footerの位置
-->
<!DOCTYPE html>
<html lang="ja">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>タイトル</title>
    <link href='https://fonts.googleapis.com/css?family=Lato' rel='stylesheet' type='text/css'>
    <!-- <link href='../../css/home.css' rel='stylesheet' type='text/css'> -->
    <link href='/stylesheets/home.css' rel='stylesheet' type='text/css'>
</head>

<body>
    <!-- サイドバー -->
    <%- include("../sidebar_hunter.ejs") %><!--変更-->
    <main id="main">
        <div id="main-in">
            <!-- box1 -->
            <div class="box">
                <div class="inner">
                    <h2>
                        <%= title %>
                    </h2>
                    <!-- <p>※依頼した一覧</p> -->
                    <ul class="news-list">
                        <!-- 依頼あり -->
                        <% if (results !="" ) { %>
                            <% for(let i in results) { %>
                                <% let obj=results[i] %>
                                    <li class="item">
                                        <a href="/hunter/request_from_facility_detail?id=<= obj.id %>">
                                            <p class="date">2020/4/15</p>
                                            <p class="date">2020/4/16</p>
                                            <p class="category category-no"><span>拒否</span></p>
                                            <p class="title">モモ肉１Kg</p>
                                            <p class="img"><img src="#"
                                                    onError="this.onerror=null;this.src='../../img/image-not-found.png';"
                                                    style="width:50px;
                                    height:50px;
                                    object-fit:cover;
                                    border-radius:50%;" /></p>
                                            <p class="account"><= obj.request_user.user_name %> さん</p>
                                        </a>
                                    </li>
                                    <% } %>
                                        <!-- 依頼なし -->
                                        <% } else { %>
                                            <p>依頼はありません</p>
                                            <% } %>
                    </ul>
                </div>
            </div>
            <footer class="footer">
                <p>FOOTER KAKU</p>
                <p>〒000-0000 <br class="sp_block">石川県金沢市武蔵町16-10<br>TEL (076)260-6112　 FAX (076)256-0620<br>営業時間 /
                    10:00～19:30</p>
                <p class="copyright sp_none">COPYRIGHT © TOKYOZOUHOU CO.</p>
            </footer>
        </div><!-- /#main-in -->
    </main>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.12.3/jquery.min.js"></script>
    <script type="text/javascript">
        (function ($) {
            $(function () {
                $('.sub-menu').on({
                    'mouseenter': function () {
                        $(this).addClass('is-active');
                    },
                    'mouseleave': function () {
                        $(this).removeClass('is-active');
                    }
                });
            });
        })(jQuery);
    </script>

</body>

</html>

<!-- bk -->
<!-- <!DOCTYPE html>
<html>
  <head>
    <title><= title %></title>

    <link rel='stylesheet' href='/stylesheets/style.css' />

    <script src="https://code.jquery.com/jquery-3.0.0.min.js"></script>
  </head>

  <body>
    <h2><= title %></h2>
    <h1>テスト2</h1>
    < if (results != "") { %>
      < for(let i in results) { %>
        < let obj = results[i] %>
        <a href="/hunter/request_from_facility_detail?id=<= obj.id %>">
          <p>req id : <= obj.id %> : <= obj.request_user.user_name %> さんからの依頼</p>
        </a>
      < } %>
    < } else { %>
      <p>依頼はありません</p>
    < } %>
  </body>
</html> -->
