<!-- 出品一覧 -->
<!-- データありの場合のデザイン -->
<!-- タイトルの設定 -->
<!-- 画面エラー -->
<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>
        <!-- <= title %> -->
    </title>
    <!-- style -->
    <link href='https://fonts.googleapis.com/css?family=Lato' rel='stylesheet' type='text/css'>
    <link href='/stylesheets/home.css' rel='stylesheet' type='text/css'>

    <!-- JS -->
    <script src="https://code.jquery.com/jquery-3.0.0.min.js"></script>
    <!-- font-style -->
    <link rel="stylesheet" href="/stylesheets/font-style.css">
</head>

<body>
    <!-- サイドバー -->
    <%- include("../sidebar_facility.ejs") %><!--変更-->
        <main id="main">
            <div id="main-in">
                <div class="box">
                    <h2>
                        出品一覧
                    </h2>
                    <% if (content !="" ) { %>
                        <% for(var value of content) { %>
                            <div>
                                <!-- <a href="./exhibit_detail/?id=<= value.id %>"> -->
                                    <!-- <img src="/uploads/<= value.image_link %>" width="150" height="150"> -->
                                </a>
                                <p>
                                    <= value.detail %>
                                </p>
                            </div>
                            <% } %>
                                <!-- < } else { %> -->
                                    <!-- <p>受注済み依頼はありません</p> -->
                                    <!-- < } %> -->
                </div>
            </div><!-- /#main-in -->
        </main>
</body>
</html>