<!-- 処理施設ホーム画面 -->
<!DOCTYPE html>
<html>
    <head>
        
    </head>
    <body>
        <ul>
            <li>
                <a href="facility/exhibit_input">出品</a>
            </li>
            <li>
                <a href="#">出品一覧</a>
            </li>
            <li>
                <p>狩猟依頼登録</p>
                <ul>
                    <li>
                        <a href="facility/search_hunter">狩猟者を指名</a>
                    </li>
                    <li>
                        <a href="facility/hunter_req_input">依頼を公開</a>
                    </li>
                </ul>
            </li>
            <li>
                <p>購入者依頼受注</p>
                <ul>
                    <li>
                        <a href="#">指名依頼一覧</a>
                    </li>
                    <li>
                        <a href="#">公開依頼検索</a>
                    </li>
                </ul>
            </li>
            <li>
                <a href="#">受注一覧</a>
            </li>
            <li>
                <a href="#">アカウント情報</a>
            </li>
            <li>
                <a href="#">退会</a>
            </li>
        </ul>
    </body>
</html>