<!-- 狩猟依頼情報入力画面 -->
<!DOCTYPE html>
<html>
    <head></head>
    <body>
        <form action="#" method="post">
            <label>依頼内容</label>
            <input type="text" name="text">
            <label>害獣名</label>
            <input type="text" name="animal">
            <label>納期</label>
            <input type="date" name="date">
        </form>
    </body>
</html>