<!-- 狩猟者一覧画面 -->
<!DOCTYPE html>
<html>
    <head></head>
    <body>
        <% for(var i in content) { %>
            <tr>
                <% var obj = content[i] %>
                <th><%= obj.id %></th>
                <td><a href="./hunter_detail/?id=<%= obj.id %>"><%= obj.user_name %></a></td>
                <td><%= obj.address %></td>
            </tr>
        <% } %>
        <!-- ページネーション -->
        <ul class="example3">
            <li class="pre">前へ</li>
            <li class="this">1</li>
            <li><a href="page-2.html">2</a></li>
            <li><a href="page-3.html">3</a></li>
            <li><a href="page-2.html">次へ</a></li>
        </ul>
    </body>
</html>