<!-- 狩猟者検索画面 -->
<!DOCTYPE html>
<html>
    <head>

    </head>
    <body>
        <form action="./search" method="post">
            <label>狩猟者名</label>
            <input type="text" name="name">

            <!-- 48都道府県めんどいんでとりあえず東北のみ -->
            <label>地域</label>
            <select name="region">
                <option value="">----</option>
                <option value="北海道">北海道</option>
                <option value="青森">青森</option>
                <option value="秋田">秋田</option>
                <option value="岩手">岩手</option>
                <option value="宮城">宮城</option>
                <option value="山形">山形</option>
                <option value="福島">福島</option>
            </select>

            <label>評価</label>
            <select name="eval">
                <option value="">----</option>
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="4">4</option>
                <option value="5">5</option>
            </select>
            <input type="submit" value="検索">
        </form>
    </body>
</html>