<!-- 受注済一覧 -->
<!-- 
ファイル名 show_accepted_requests.ejs
作成者 内藤壱成
概要 購入者ユーザからの依頼一覧
変更日 2023-02-07
フロントの残り
-->
<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>
  </title>
  <!-- style -->
  <link href='https://fonts.googleapis.com/css?family=Lato' rel='stylesheet' type='text/css'>
  <link href='/stylesheets/home.css' rel='stylesheet' type='text/css'>

  <!-- JS -->
  <script src="https://code.jquery.com/jquery-3.0.0.min.js"></script>
  <!-- font-style -->
  <link rel="stylesheet" href="/stylesheets/font-style.css">
</head>

<body>
  <!-- サイドバー -->
    <main id="main">
      <div id="main-in">
        <div class="box">
          <!-- <p style="font-size: 30px; font-weight:600">受注済み購入者依頼一覧</p> -->
          
        </div>
        <!-- <footer class="footer">
          <p>FOOTER KAKU</p>
          <p>〒000-0000 <br class="sp_block">石川県金沢市武蔵町16-10<br>TEL (076)260-6112　 FAX (076)256-0620<br>営業時間 /
            10:00～19:30</p>
          <p class="copyright sp_none">COPYRIGHT © TOKYOZOUHOU CO.</p>
        </footer> -->
      </div><!-- /#main-in -->
    </main>
</body>

</html>